<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>

    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>
    
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum qui eius minus asperiores, nemo sit nisi! Placeat magni molestiae, excepturi laboriosam eveniet similique voluptate odit dignissimos provident iure quod eaque, quae odio fuga natus cupiditate veniam doloremque! Incidunt necessitatibus non doloremque repellat sapiente tempore fugit magni voluptas consequuntur, nisi fuga esse soluta nesciunt delectus amet quibusdam accusamus praesentium sint eveniet neque? Beatae ad, ab quo eaque voluptatem blanditiis, soluta, necessitatibus ipsam quidem dicta natus? Ipsam alias molestias qui numquam a, vel sed eius eaque mollitia labore quas nulla reiciendis soluta nihil ipsum, magni aliquam. Ad eveniet maxime ipsum odio aut sunt consectetur dolorem iste quaerat veritatis, fugit minus facilis eum nobis perferendis hic magni rerum voluptate. Illum, aut ullam. Nihil rem consequatur excepturi numquam commodi labore maiores cumque magni modi! Recusandae aspernatur corrupti at amet obcaecati, perspiciatis debitis, nisi dolor, fuga accusamus distinctio laborum quibusdam. Ut aliquid magni modi sint doloribus doloremque nulla dolorem vitae provident voluptas recusandae tempore numquam ratione, nobis est? Ratione libero excepturi qui nesciunt quasi! Facilis pariatur cumque amet culpa adipisci iste accusantium animi fuga laudantium suscipit quas repellendus itaque, vitae soluta error deserunt. Ad debitis ex quas rem accusamus cumque alias est nisi quo ratione?</p>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>